{% extends 'layout/layout.html.twig'%}

{%block title%}Глоссарий - слова из Русско - Кыргызского словаря разбитые на категории и Кыргызско-Русский словарь онлайн - Онлайн сөздүк | Tili.kg {%endblock%}

{%block scripts%}
    {{parent()}}
    <script type="text/javascript" src="{{asset('/assets/js/glossary.js')}}"></script>
{%endblock%}

{%block content%}
    <div id="float_chars_block">
    	<span title="Ctrl+Alt+н">ң</span>
    	<span title="Ctrl+Alt+о">ө</span>
    	<span title="Ctrl+Alt+у">ү</span>
    	<div style="clear:both"></div>
	</div>

    <div id="breadcrumbs">
        Вы тут:
        {% for crumb in breadcrumbs %}
            <a href="{{crumb.link}}">{{crumb.text}}</a>
            {% if loop.index < breadcrumbs|length%}
            >>
            {%endif%}
        {% endfor %}
    </div>
      <br>
      <div class="alert alert-success col-xs-12 col-sm-12 col-md-12" role="alert">
            <h4>Глоссарий это разбитые на категории слова из Русско - Кыргызского словаря. Мы постарались выбрать самые полезные и употребялемые слова.</h4>
      </div>

    <div id="glossary">
        {% for tag in tags %}
        <div class="glossary-entry col-xs-12 col-sm-4 col-md-4">
          <a href="{{asset('/glossary/' ~ tag.id ~ '/' ~ tag.tag)}}">
          <div class="glossary-item">
            <h2 class="title">
                    {{tag.tag}}
            </h2>
            <div class="image">
                    <img src="{{asset('/assets/images/tag/' ~ tag.id ~ '.jpg')}}" alt="{{tag.tag}}" />
                  </div>
            </div>
            </a>
        </div>
        {% endfor %}
        {% if words is defined %}
        {% for word in words %}
        <div class="glossary-entry word-entry col-xs-12 col-sm-6 col-md-4">

          <div class="glossary-word-item">
          <a href="{{asset('/d' ~ word.dictid ~ '/show/' ~ word.keyword)}}">
            <h2 class="title">

                    {{word.keyword}}

            </h2>
            <div class="image">
                <ul>
		{% set found = false %}
                {% for pic in pics %}
                    {% if pic.word == word.keyword and not found %}
                    <li>

                            <img src="{{pic.thumbnail}}" alt="{{word.keyword}}" />

                    </li>
		    {% set found = true %}
                    {% endif %}
                {% endfor %}
		{% if not found %}
                    <li>

                            <img width="110" height="110" src="{{asset('/assets/images/noimage.gif')}}" alt="{{word.keyword}}" />

                    </li>
		{% endif %}
                </ul>
            </div>
            <div class="word-value">
                {{word.value|raw}}
            </div>
            </a>
            </div>

        </div>
        {% endfor %}
        {% endif %}
        <div class="clear"></div>
    </div>

{% endblock %}
