{% extends 'layout/layout.html.twig'%}

{%block title%}Русско-Кыргызский словарь и Кыргызско-Русский словарь онлайн - Онлайн сөздүк | Tili.kg {%endblock%}

{%block scripts%}
    {{parent()}}
    <script type="text/javascript" src="{{asset('/assets/js/picture.js')}}"></script>
    <script type="text/javascript" src="{{asset('/assets/js/tags.js')}}"></script>
    <script type="text/javascript" src="{{asset('/assets/js/index.js')}}"></script>

{%endblock%}

{%block content%}
    <div class="content-header">
        <div class="000searchblock" style="height: 120px;">
                <h1>Введите слово для перевода</h1>
    			<div class="searchform dict col-xs-12 col-md-6 col-sm-12">
                    <form action="http://tili.kg" method="get">
                         <input name="keyword" type="text" class="stxt" id="keyword" value="Введите слово" onfocus="javascript: if(this.value == 'Введите слово') this.value = '';" onblur="javascript: if(this.value == '') { this.value = 'Введите слово';}">

                         <input type="submit" class="sbtn" value="Перевод" onclick="showWord(document.getElementById('keyword').value);
                          return false;">
                        <div id="float_chars_block">
                              	<span title="Ctrl+Alt+н">ң</span>
                             	<span title="Ctrl+Alt+о">ө</span>
                                <span title="Ctrl+Alt+у">ү</span>
                                <div style="clear:both"></div>
                        </div>
                    </form>

                 </div>
        </div>

    </div>
    <div class="sidebar" >



    </div>
    <div class="content-text">
        <div id="content" style="">


                <p id="dic_content" >
                    <img src="assets/images/kt-dict.jpg" alt="Онлайн словарь" style="margin:40px 0 10px 160px;" />
                </p>

                <div id="not-found">
                    <img src="{{asset('/assets/images/noword-man.gif')}}" alt="Слово не найдено" />
                    <div>
                        Если вы знаете как переводится  <span>слово</span><br />
                        вы можете помочь расширить наш словарь<br />

                        <a class="addword" href="{{asset('/add')}}">&nbsp;</a>
                    </div>
                </div>

            </div>

    </div>
    <div id="float_chars_block2">
    	<span title="Ctrl+Alt+н">ң</span>
    	<span title="Ctrl+Alt+о">ө</span>
    	<span title="Ctrl+Alt+у">ү</span>
    	<div style="clear:both"></div>
	</div>




			
        </div>
	
         <br/>
    	<div id="result" style="overflow: auto;">
		<h3>О словаре</h3>
		<br/>
		<iframe width="350" height="263" src="http://www.youtube.com/embed/l3TRG8d3SIM" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>



{% endblock %}