{% extends 'layout/layout.html.twig'%}

{%block title%}Русско-Кыргызский словарь и Кыргызско-Русский словарь онлайн - Онлайн сөздүк | Tili.kg {%endblock%}

{%block scripts%}
    {{parent()}}
    <script type="text/javascript" src="{{asset('/assets/js/picture.js')}}"></script>
    <script type="text/javascript" src="{{asset('/assets/js/tags.js')}}"></script>
    <script type="text/javascript" src="{{asset('/assets/js/index.js')}}"></script>

{%endblock%}

{%block menu%}
    <div class="menu row">

                <div class="dict-searchblock col-xs-12 col-md-6 col-sm-6" style="">
            			<div class="searchform dict ">
                            <form action="http://tili.kg" method="get">
                                <div id="float_chars_block">
                                                                     	<span title="Ctrl+Alt+н">ң</span>
                                                                    	<span title="Ctrl+Alt+о">ө</span>
                                                                       <span title="Ctrl+Alt+у">ү</span>
                                                                       <div style="clear:both"></div>
                                                               </div>
                                 <input name="keyword" type="text" class="stxt" id="keyword" value="Введите слово для перевода" autocomplete="off" onfocus="javascript: if(this.value == 'Введите слово для перевода') this.value = '';" onblur="javascript: if(this.value == '') { this.value = 'Введите слово для перевода';}">

                                 <input type="submit" class="sbtn" value="Перевод" onclick="showWord(document.getElementById('keyword').value);
                                  return false;">

                                <div id="result" style="overflow: auto;"></div>
                            </form>

                         </div>
                </div>
            <div class="menu-items col-xs-12 col-md-6 col-sm-6">
                <a href="/">Главная</a> |
                <a href="/dict/dlist/">Словари от А до Я</a> |
                <a href="/dict/glossary/">Глоссарий</a> |
               <!-- <a href="/dict/add/" class="addword-menu"><img src="/dict/assets/images/button-addword.gif"></a> -->
            </div>
    </div>
{%endblock%}

{%block content%}


    <div class="content-text">
        <div id="content" class=" col-xs-12 col-md-8 col-sm-8" >


                <p id="dic_content" >
                    <img src="assets/images/kt-dict.jpg" alt="Онлайн словарь" style="margin:40px 0 10px 160px;" />
                </p>

                <div id="not-found">
                    <img src="{{asset('/assets/images/noword-man.gif')}}" alt="Слово не найдено" />
                    <div>
                        Если вы знаете как переводится  <span>слово</span><br />
                        вы можете помочь расширить наш словарь<br />

                        <a class="addword" href="{{asset('/add')}}">&nbsp;</a>
                    </div>
                </div>

            </div>
        <div class="rsidebar col-xs-12 col-md-4 col-sm-4" >
            <div class=" col-xs-12 col-sm-12 col-md-12">
                       <div class="apps col-xs-12 col-sm-6 col-md-4 hidden-xs">
                           <a href="https://chrome.google.com/webstore/detail/%D0%BA%D0%B8%D1%80%D0%B3%D0%B8%D0%B7%D1%81%D0%BA%D0%BE-%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9-%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D1%8C/hojggilcgbfgflnmnjldhbdpomafihfd"  id="install-button" class="android" onclick="chrome.webstore.install(); return false;" style="margin-top: -8px; right: 525px;"><img class="aligncenter" src="/banners/chromead.png" alt="Добавить расширение в хром." style="height: 60px;"/></a>

                           <script>
                           if (chrome.app.isInstalled) {
                             document.getElementById('install-button').style.display = 'none';
                           }
                           </script>
                       </div>
                        <div class="apps col-xs-12 col-sm-12 col-md-12">
                            <a href="http://play.google.com/store/search?q=pub:Tili.kg" target="_blank" class="android"><img class="aligncenter" src="/banners/get-from-gp.png" alt="Установить словарь на телефон Android." /></a>
                        </div>
                        <div class="apps col-xs-12 col-sm-12 col-md-12">
                             <a href="http://itunes.apple.com/us/app/tili.kg/id528317649?mt=8" target="_blank" class="iosapp"><img class="aligncenter" src="/banners/app-store.png" alt="Установить словарь на iPhone." /></a>
                        </div>
                 </div>
            </div>

    </div>






			
        </div>


    </div>



{% endblock %}